@model List<BookingApiViewModel.Result>

@{
    Layout = null;
    int count = 0;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
    {
        <label>Şehir ID Bilgisi Giriniz</label>
        <input type="text" class="form-control" name="cityId"/>
        <br />
        <button class="btn btn-success">Şehir İçin Otelleri Bul</button>
    }

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Otel Detaylar</th>
        </tr>
        @foreach (var booking in Model)
        {
            count++;
            <tr>
                    <td>@count</td>
                    <td>@booking.name</td>
                    <td>@booking.reviewScore</td>
                    <td><a href="" class="btn btn-outline-info">Detaylar</a></td>
                 </tr>   
        }
    </table>
</div>