@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Misafirlerimiz";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var guest in Model)
    {
        count++;
        <tr>
                <th>@count</th>
                <td>@guest.Name</td>
                <td>@guest.SurName</td>
                <td>@guest.City</td>
            <td><a href="/Guest/DeleteGuest/@guest.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Guest/UpdateGuest/@guest.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            </tr>
    }
</table>
<a href="/Guest/AddGuest/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Misafir Girişi</a>


